body {
    margin: 0;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.index {
    height: 100vh;
}

.index .index-content {
    margin-top: 128px;
}

.index h1, .index h3 {
    margin-top: 40px;
    text-align: center;
}

.index h1 {
    color: #009EDB;
    font-family: Quicksand, sans-serif;
}

.index h3, .index p {
    font-family: "Open Sans", sans-serif;
}

.index .preview-holder {
    width: 1024px;
    margin: auto;
}

.index .preview {
    width: 1024px;
}

.index .email-holder {
    width: fit-content;
    margin: 40px auto;
}

.index input {
    border: lightgrey solid 1px;
    border-radius: 4px;
    padding: 0 8px;
    height: 30px;
    width: 350px;
}

.index input:focus {
    border: #009EDB solid 1px;
}

footer {
    background-color: #F1F2F2;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .line {
    margin: 20px auto 0;
    color: #009EDB;
}

footer p {
    width: fit-content;
    margin: 16px auto;
    color: #009EDB;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
